
*{
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}
.main{
  width: 900px;
  margin: auto;  
}
.header{
height: 105px;
position: relative;
background-color: #A39D9D;
margin-bottom: 20px;
}
#pazLogo{
 position: absolute;
 top:30px;   
}
#search_input{
position: absolute;
top:20px;
right:735px;

}
#search_button{
    position: absolute;
    right:870px;
    top:20px;
    
}
.menu{
    display: inline-block;
   position: relative;
   top:65px;
   right: 170px;
    padding: 10px;
    z-index: 1000;
}
.menu > li{
    list-style:none;
}
.menu a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 15px;
    border-right: 1px solid white;
    padding-right: 10px;
    
}
.dropdown-content{
   position: absolute;
   display: none;
   min-width: 140px;
   background-color: #A39D9D;
   
}
.menu:hover .dropdown-content {
    display: block;
}
.menu a:hover{
color:blue;
text-decoration: underline;
}
.dropdown-content a:hover{
    background-color: lightgray ;
}
.dropdown-content a{
    display: block;
    padding: 4px; 
    border-bottom: 0.5px solid white;
}
.galleryItem img {
    padding:8px 2px;
}
.galleryItem{
    position: relative;
    display:inline-block;
    
}
.pic {
    border-radius: 0 0 25px 0;
    position: relative;
 }
 .desc {
     width:220px;
     font-size:13px;
     color:white;
     position: absolute;
     top:270px;
     right:20px;
 }
 .bg{
     position: absolute;
     top:250px;
     right: 10px;
 }
 .read_more{
     position: absolute;
     bottom: 20px;
     left:55px;
     font-size: 13px;
     color:white;
 }
 .read_more_icon{
    position: absolute;
    left:40px;
    top: 335px;
 }
 .bold_block{
    font-weight: bold;
    font-size: 14px;
    display:block;
 }
 .cube{
     position: relative;
 }
 .inner_pic{
     position: absolute;
     top:45px;
     left:20px;
 }
 .cube_tittle{
    position: absolute;
    top:20px;
    right:20px;
    color:#474545;
    font-weight:bold;
    font-size: 14px;
   
 }
 .det{
    position: absolute;
    bottom:30px;
    left:35px;
    font-size: 13px;
    color:gray ; 
 }
 .cube_det_icon{
    position: absolute;
    left:20px;
    bottom: 20px;
  
 }
 .zone{
     position: absolute;
     width:40px;
     border:1px solid black;
     top:50px;

     right:40px;
     color:#525050;
    font-size: 13px;
 }
 .z_icon{
    position: absolute;
    top:40px;
    right:85px;
 
 }